a {
  display: inline-block;
  margin: 12px 0;
  color: #f78f20;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input[type="submit"] {
  background-color: #f78f20;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
}

button:not(:disabled),
input[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  opacity: 0.75;
}

button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 24px 0;
}

li {
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
}

li span,
li input,
li button {
  cursor: pointer;
}

li span {
  flex: 1;
  margin-left: 12px;
}

#actions > button:not(:last-child) {
  margin-right: 12px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;
}

form input[type="text"] {
  flex: 1;
  margin: 0 12px;
  padding: 6px 12px;
}

.task-completed span {
  font-style: italic;
  color: #999;
  text-decoration: line-through;
}
